
<mat-card>
    <mat-card-content>
      <mat-tab-group class="demo-tab-group">
        <mat-tab *ngFor="let emp of Employees; let i = index" label="{{emp.viewValue}}">
          <div class="demo-tab-content">
              <mat-card style="padding:0; margin-top:10px;">
                  <mat-card-subtitle style="padding:20px 10px 0 10px;text-align:left;background-color:lightgray;">
                    
                      <label for="" style="font-size: 15px">Employee Approval</label>
                     
                  </mat-card-subtitle>
                  <mat-card-content>
                    <div style="text-align: center;">
                <table>
                    <tr>
                        <td>
                            <mat-list>
                                <mat-list-item>
                              
                                  <mat-form-field class="example-full-width" style="width:1cm">
                                      <label for="">Mon</label>
                                      <input matInput placeholder="" value="{{workhrs}}hrs" disabled >
                                      </mat-form-field>
                                      <span style="width:1cm"></span>
                                      
                                      <button style="border-color: white; border-radius: 1ch">
                                        <mat-progress-bar style="width:17cm;height:3ch"
                                        class="example-margin"
                                        [color]="color"
                                        [mode]="mode"
                                        [value]="value"
                                        [bufferValue]="bufferValue">
                                    </mat-progress-bar>
                                      </button>
                                
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-form-field class="example-full-width" style="width:1cm">
                                        <label for="">Tue</label>
                                        <input matInput placeholder="" value="{{workhrs}}hrs" disabled>
                                        </mat-form-field>
                                        <span style="width:1cm"></span>
                                      
                                         <button style="border-color: white; border-radius: 1ch">
                                            <mat-progress-bar style="width:17cm;height:3ch"
                                            class="example-margin"
                                            [color]="color"
                                            [mode]="mode"
                                            [value]="value"
                                            [bufferValue]="bufferValue">
                                        </mat-progress-bar>
                                          </button>
                                  </mat-list-item>
                                  <mat-list-item>
                                      <mat-form-field class="example-full-width" style="width:1cm">
                                          <label for="">Wed</label>
                                          <input matInput placeholder="" value="{{workhrs}}hrs" disabled>
                                          </mat-form-field>
                                          <span style="width:1cm"></span>
                                      
                                          <button style="border-color: white; border-radius: 1ch">
                                            <mat-progress-bar style="width:17cm;height:3ch"
                                            class="example-margin"
                                            color="accent"
                                            [mode]="mode"
                                            [value]="70"
                                            [bufferValue]="bufferValue">
                                        </mat-progress-bar>
                                          </button>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-form-field class="example-full-width" style="width:1cm">
                                            <label for="">Thu</label>
                                            <input matInput placeholder="" value="{{workhrs}}hrs" disabled>
                                            </mat-form-field>
                                          
                                                <span style="width:1cm"></span>
                                      
                                                <button style="border-color: white; border-radius: 1ch">
                                                    <mat-progress-bar style="width:17cm;height:3ch"
                                                    class="example-margin"
                                                    [color]="color"
                                                    [mode]="mode"
                                                    [value]="value"
                                                    [bufferValue]="bufferValue">
                                                </mat-progress-bar>
                                                  </button>
                                      </mat-list-item>
                                      <mat-list-item>
                                          <mat-form-field class="example-full-width" style="width:1cm">
                                              <label for="">Fri</label>
                                              <input matInput placeholder="" value="{{workhrs}}hrs" disabled>
                                              </mat-form-field>
                                        
                                              <span style="width:1cm"></span>
                                      
                                              <button style="border-color: white; border-radius: 1ch">
                                                <mat-progress-bar style="width:17cm;height:3ch"
                                                class="example-margin"
                                                [color]="color"
                                                [mode]="mode"
                                                [value]="value"
                                                [bufferValue]="bufferValue">
                                            </mat-progress-bar>
                                              </button>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <mat-form-field class="example-full-width" style="width:1cm">
                                                <label for="">Sat</label>
                                                <input matInput placeholder="" value="{{workhrs}}hrs" disabled>
                                                </mat-form-field>
                                                <span style="width:1cm"></span>
                                      
                                                <button style="border-color: white; border-radius: 1ch">
                                                    <mat-progress-bar style="width:17cm;height:3ch"
                                                    class="example-margin"
                                                    color="warn"
                                                    [mode]="mode"
                                                    value="30"
                                                    [bufferValue]="bufferValue">
                                                </mat-progress-bar>
                                                  </button>
                                          </mat-list-item>
                                          <mat-list-item>
                                              <mat-form-field class="example-full-width" style="width:1cm">
                                                  <label for="">Sun</label>
                                                  <input matInput placeholder="" value="{{workhrs}}hrs" disabled>
                                                  </mat-form-field>
                                                  <span style="width:1cm"></span>
                                                  <button style="border-color: white; border-radius: 1ch">
                                        <mat-progress-bar style="width:17cm;height:3ch"
                                        class="example-margin"
                                        color="accent"
                                        [mode]="mode"
                                        value="70"
                                        [bufferValue]="bufferValue">
                                    </mat-progress-bar>
                                      </button>

                                            </mat-list-item>
        
                              </mat-list>
                        </td>
                        <td>
                            <textarea rows="15" cols="48" style="background-color: rgb(233, 233, 233);border-radius:1ch;text-align:left" wrap="hard" disabled>
                                CV1 Second –Level3
                                Job TaskItem1 Time 2:41
                                
                                CV1 Primary-Level3
                                Job Task tem
                                
                                </textarea>
                                <div class="button-row">
                                    <button mat-raised-button color="primary" style="border-radius: 1ch">Approve</button>
                                    <button mat-raised-button color="warn" style="border-radius: 1ch">Reject</button>
                                   
                                  </div>
                                  
                        </td>
                    </tr>
<span style="height:20cm"></span>

                </table>
                      

                    </div>
                    
                  </mat-card-content>
                </mat-card>
                

          </div>
         
          <mat-card>
              <mat-card-content>
                    <label>40 hr Status</label>
                    <span style="width:2cm"></span>
                        <mat-progress-bar style="width:17cm;height:3ch;border-radius:1ch"
                        class="example-margin"
                        color="primary"
                        [mode]="mode"
                        value="50"
                        [bufferValue]="bufferValue">
                    </mat-progress-bar>
              </mat-card-content>
        
          </mat-card>

        </mat-tab>
        
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  
  
