<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center" style="background-color:transparent; margin-top:40px;">
	<div fxFlex="40%" fxLayoutAlign=" stretch">
		<mat-card style="padding: 0; width:100%;">
			<mat-card-header style="background-color: rgb(0, 0, 0, 0.04)">
				<h4>Language List</h4>
			
        <button mat-stroked-button style="position: absolute; right: 4px; top: 15px; color: #C3003C " class="save" (click)="onAdd()" [disabled]="disableedit">Edit</button>
			</mat-card-header>
			<mat-card-content style="padding: 5px;">
				<ul style="display:flex; flex-wrap: wrap; list-style: none;">
					<li  *ngFor="let lang of languages" style="padding: 4px;">
						<mat-card style="height: 30px; display: flex;
											justify-content: center;
											align-items: center; padding: 4px;" (click)="editLanguage(lang.name)" [ngClass]="{'selected': lang.selected}">
							<mat-card-header style="margin: 0px;">
								<mat-card-title style="margin: 0px; font-size: 1em; display: block;">{{lang.name}}</mat-card-title>
							</mat-card-header>
						</mat-card>
					</li>
				</ul>
			</mat-card-content>
			<!-- <mat-card-actions style="text-align: right;">
				<button mat-stroked-button style="position: absolute; right: 15px; bottom: 5px;  color: #C3003C " (click)="addNew()" class="save">Add New Project</button>
			</mat-card-actions> -->
		</mat-card>
	</div>
	<div fxFlex="40%" fxLayoutAlign=" stretch">
    <mat-card style="padding: 0; margin: 0; width:100%;">
        <mat-card-header style="background-color: rgb(0, 0, 0, 0.04)">
            <h4>New Language</h4>
            <button mat-stroked-button style="position: absolute; right: 4px; top: 15px; color: #C3003C " class="save" (click)="onAdd()">Add</button>
          </mat-card-header>
      <mat-card-content style="padding: 5px;">
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="padding: 5px;">
              <div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
                display: flex;
                justify-content: left;
                align-items: center; padding:10px;">
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="Language Name" [(ngModel)]="langName" [disabled]="disablebutton">
                </mat-form-field>
              </div>
              <div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
                display: flex;
                justify-content: center;
                align-items: center; padding:10px;">
            
                <button mat-raised-button style="background-color:rgba(0,0,0,.04);color: green" [disabled]="disablebutton" (click)="onSave(langName)">
                    <!-- #3f51B5 -->
                    Save
                  </button>
              </div>
              <div fxFlex="30%" style=" background-color:rgba(0,0,0,.04); 
                display: flex;
                justify-content:center;
                align-items: center; padding:10px;">
                <button mat-raised-button style="background-color:rgba(0,0,0,.04);color: red" [disabled]="disablebutton">
                    <!-- #3f51B5 -->
                    Cancel
                  </button>
              </div>
            </div>
      </mat-card-content>

      </mat-card>
	</div>
</div>
