<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="background-color:transparent; margin-top:40px;">
	<!-- <a fxFlex="5%">prev</a> -->
	<div fxFlex="90%">
		<mat-tab-group >
			<mat-tab *ngFor="let tab of tabArray; let i = index" label="{{tab.viewValue}}">
				<div class="container" style="text-align:center;background-color:rgba(0,0,0,.04); padding:10px; overflow-y:auto" [style.height.px]="windowHeight">
						<mat-list>
								<mat-list-item style="background-color:white">
									<mat-icon>event</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
									<mat-form-field class="example-full-width">
										<input matInput placeholder="" value="{{today | date:'fullDate'}}" disabled>
									</mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<mat-icon>alarm</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
									<mat-form-field class="example-full-width">
										<input matInput placeholder="" value="{{today | date:'shortTime'}}" disabled>
									</mat-form-field>
								</mat-list-item>
							</mat-list>
		
					<mat-card style="padding:0; margin-top:10px;">
						<mat-card-subtitle style="padding:10px 10px 0 10px;text-align:left;background-color:lightgray;">
							<mat-form-field>
								<mat-select placeholder="My Project List">
									<mat-option *ngFor="let project of projects" [value]="project.value">
										{{ project.viewValue }}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<div style="float: right;">
								<button mat-icon-button style="min-width:auto;display:inline-block" [matMenuTriggerFor]="project">
									<mat-icon aria-label="add">add</mat-icon>
								</button>
								<mat-menu #project="matMenu" [overlapTrigger]="false">
									<button mat-menu-item>Common</button>
									<button mat-menu-item>Model Development</button>
								</mat-menu>
								<button mat-icon-button style="min-width:auto;display:inline-block">
									<mat-icon aria-label="delete">delete</mat-icon>
								</button>
							</div>
						</mat-card-subtitle>
						<mat-card-content *ngFor="let pos of positions; let i = index">
							<div style="text-align: center;">
								<mat-radio-group [(ngModel)]="pos.skills">
									<mat-radio-button value="1">Primary Skill</mat-radio-button>
									<mat-radio-button value="2" style="margin-left:2em;">Secondary Skill</mat-radio-button>
								</mat-radio-group>
								<mat-form-field style="margin-left:2em;">
									<mat-select placeholder="Job Task List" class="project-select" [(ngModel)]="pos.job">
										<mat-option *ngFor="let project of projects" [value]="project.value">
											{{ project.viewValue }}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field style="margin-left:2em;">
									<input matInput placeholder="Time" type="time" class="without" [(ngModel)]="pos.time" >
								</mat-form-field>
								<div style="margin-left:2em; display:inline-block">
									<button (click)="addPosition()" mat-icon-button style="min-width:auto;display:inline-block">
										<mat-icon aria-label="add" style="font-size:1.2em">add</mat-icon>
									</button>
									<button (click)="deletePosition()" mat-icon-button style="min-width:auto;display:inline-block">
										<mat-icon aria-label="delete" style="font-size:1.2em">delete</mat-icon>
									</button>
								</div>
							</div>
							
						</mat-card-content>
					</mat-card>


					<mat-card style="padding:0; margin-top:10px;">
						<mat-card-subtitle style="padding:20px 10px 0 10px;text-align:left;background-color:lightgray;">
							
								<label for="" style="font-size: 20px">Common</label>
							
						</mat-card-subtitle>
						<mat-card-content *ngFor="let pos of commonPositions; let i = index">
							<div style="text-align: center;">
					
								<mat-form-field style="margin-left:2em;">
									<mat-select placeholder="Common Tasks" class="common-select" [(ngModel)]="pos.commonJob">
										<mat-option *ngFor="let cmn of Common" [value]="cmn.value">
											{{ cmn.viewValue }}
										</mat-option>
									</mat-select>
								</mat-form-field>

								<mat-form-field style="margin-left:2em;">
									<input matInput placeholder="Time" type="time" class="without" [(ngModel)]="pos.ctime" #time2>
								</mat-form-field>
								<div style="margin-left:2em; display:inline-block">
									<button (click)="addcommonPositions()" mat-icon-button style="min-width:auto;display:inline-block;border-radius:1ch">
										<mat-icon aria-label="add" style="font-size:1.2em">add</mat-icon>
									</button>
									<button (click)="deletecommonPosition()" mat-icon-button style="min-width:auto;display:inline-block;border-radius:1ch">
										<mat-icon aria-label="delete" style="font-size:1.2em">delete</mat-icon>
									</button>
								</div>
							</div>
							
						</mat-card-content>
					</mat-card>











					<mat-card style="margin-top:10px">
					
						<mat-form-field class="example-full-width" style="width:25cm">
							<input matInput placeholder="Enter your Comments" value="" #comments>
						  </mat-form-field>
					</mat-card>
					<mat-card style="margin-top:10px">

						<label>Total Log Time</label>
						<mat-form-field class="example-full-width">
							<input matInput placeholder="" value="" disabled>{{comments.value}}
						</mat-form-field>

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<button mat-raised-button color="primary" style="border-radius: 1ch">Submit</button>
						<button mat-raised-button color="accent" style="border-radius: 1ch">Reset</button>


					</mat-card>
					
					
				</div>
			</mat-tab>
			
		</mat-tab-group>
	</div>
	<!-- <a fxFlex="5%">next</a> -->
	<a class="navigation navigation-prev " aria-label="Previous page: this">
		<span>
			<mat-icon>chevron_left</mat-icon>
		</span>
		<span style="font-size:0.3em;">Prev</span>
	</a>
	<a class="navigation navigation-next " aria-label="Next page: Number">
		<span>
			<mat-icon>chevron_right</mat-icon>
		</span>
		<span style="font-size:0.3em;">Next</span>
	</a>
</div>